@font-face {
    src: url('../fonts/GoldenbeachpersonaluseBdit-jEgDM.otf');
}

* {
    -fx-hover-green: derive(lightgreen, 40%);
    -fx-hover-orange: derive(orange, 40%);
}

#main, #game {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-pref-width: 612px;
    -fx-pref-height: 408px;
}

#main {
    -fx-background-image: url('../images/main-background.jpg');
}

#game {
    -fx-background-image: url('../images/game-background.jpg');
}

#main .button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-text-fill: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
    -fx-effect: dropshadow(gaussian, #c6bb9f, -1, 0, 1, 1),
    dropshadow(gaussian, #c6bb9f, 0, 1, 1, 1),
    dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 5, 10, 1),
    dropshadow(gaussian, rgba(0, 0, 0, 0.4), -5, -5, 10, 1);
    -fx-font-family: 'Golden Beach Personal Use';
    -fx-font-size: 40;
}

.shuffling-label {
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.hit-button, .stand-button {
    -fx-border-radius: 24px;
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-border-width: 2;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-min-width: 100px;
    -fx-cursor: hand;
}

.hit-button {
    -fx-border-color: lightgreen;
    -fx-text-fill: lightgreen;
    -fx-effect: dropshadow(gaussian, lightgreen, 10, 0, 0, 0);
}

.stand-button {
    -fx-border-color: orange;
    -fx-text-fill: orange;
    -fx-effect: dropshadow(gaussian, orange, 10, 0, 0, 0);
}

.hit-button:hover {
    -fx-border-color: -fx-hover-green;
    -fx-text-fill: -fx-hover-green;
    -fx-effect: dropshadow(gaussian, -fx-hover-green, 10, 0, 0, 0);
}

.stand-button:hover {
    -fx-border-color: -fx-hover-orange;
    -fx-text-fill: -fx-hover-orange;
    -fx-effect: dropshadow(gaussian, -fx-hover-orange, 10, 0, 0, 0);
}

.sum-label {
    -fx-font-size: 30;
    -fx-text-fill: white;
}

