@font-face {
    src: url('../fonts/GoldenbeachpersonaluseBdit-jEgDM.otf');
}

#main, #game{
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-pref-width: 612px;
    -fx-pref-height: 408px;
}
#main {
    -fx-background-image: url('../images/main-background.jpg');
}

#game {
    -fx-background-image: url('../images/game-background.jpg');
}

#main .button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-text-fill: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
    -fx-effect:
            dropshadow(gaussian, #c6bb9f, -1, 0, 1, 1),
            dropshadow(gaussian, #c6bb9f, 0, 1, 1, 1),
            dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 5, 10, 1),
            dropshadow(gaussian, rgba(0, 0, 0, 0.4), -5, -5, 10, 1);
    -fx-font-family: 'Golden Beach Personal Use';
    -fx-font-size: 40;
}